{% load staticfiles %}
<!--DOCTYPE html-->
<html>
<head>
<title>Ask Questions</title>
<link rel='stylesheet' href='{% static "css/profile.css" %}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{% static 'image/logo1.ico' %}">
</head>

<body>
	<div class="navbar">
		<div class="logo">
			<img src='{% static "image/Logo.jpg" %}' style="width: 230px; margin-top: 10px;" />
		</div>
		<div class="search">
		</div>
		<div class="navlinks">
			<h6><a href="{% url "home" %}">Home</a></h6> <h6 style="width: 30%;"><a href="{% url "create" %}">Ask a Question</a></h6> <h6><a href="{% url "profile" id=profile.id %}">Profile</a></h6> <h6><a href="{% url "user" %}">Users</a></h6> <h6><a>Contact</a></h6>
		</div>
		<div class="login" style="font-size: 15px;">
			{% if request.user.is_authenticated %}
			<p><a href="{% url "logout" %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></p>
			{% else %}
			<p><a href="{% url "login" %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in / Register</a></p>
			{%endif %}
		</div>
	</div>

	<div class="main">
		<div class="links">
			<div id="ask-cont">
			<a href="{% url "create" %}" style="text-decoration: none;"><p class="ask"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp Ask a Question</p></a>
			</div>
		</div>
		<div class="content">
			<table style="width: 100%;min-height: 100%;border-spacing: 0px;">
				<tr>
			<td style="width:100%; float: left;">
				<div class="heading">
					<div class="tab">
						<p>{{ profile.user }}'s Profile</p>	
					</div>
				</div>

			

				<div class="heading cont">
					<div style="width:40%;display: inline-block;">
					{% if request.user.is_authenticated %}
					{% if profile.image %}
					<img src='{{ profile.image.url }}' id="image1"/>
					{% else %}
					<img src='{% static "image/default_user.png" %}' id="image1"/>
					{% endif %}
					<div class="mid">
						<p style="font-size: 20px;">{{ profile.user }}</p>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp {{ profile.location }}</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp {{ profile.user.email }}</p>
					</div>
				</div>
					<div class="rank">
					<p style="background-color: {{ color }}; border:none;color: white">{{ rank }}</p>
					<div style="display: inline-block;">
						<p style="border:none;font-size: 35px;margin: 0px;color:#3498db">{{ profile.points }}</p>
					</div><div style="display: inline-block;margin-left: 2%;">
						<p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
						<p style="border:none;font-size: 12px;margin: 0px;">Points</p>
					</div></div>
					<div style="display: inline-block;vertical-align: middle;">
						<div class="circle" style="display: inline-block;"><h6 style="background-color: #3498db;color: white;border:none;">{{ profile.questions }}</h6><p>Questions</p></div>
						<div class="circle" style="display: inline-block;"><h6 style="background-color: #1abc9c;color: white;border:none;">{{ profile.answers }}</h6><p>Answers</p></div>
					</div>
					{% endif %}
					{% if request.user == profile.user %}
				<p style="background-color: #3498db;font-size: 15px;" class="button"><a href="{% url "profile_update" id=profile.id %}"><i class="fa fa-pencil" aria-hidden="true"></i> Update</a></p>
				{% endif %}
				</div>

			<div class="welcome">
				<div class="tab">	
					<br/>
			<div class="rank1">
					<div style="display: inline-block;">
						<p style="border:none;font-size: 35px;margin: 0px;color:#3498db;margin-left: 110%;">+2</p>
					</div><div style="display: inline-block;margin-left: 27%;">
						<p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
						<p style="border:none;font-size: 12px;margin: 0px;">Points</p>
					</div>
					<p style="border:none;font-size: 13px;margin: 0px; width: 100%;text-align: center;padding-left: 0px;">Creating Question</p>
				</div>

			<div class="rank1">
					<div style="display: inline-block;">
						<p style="border:none;font-size: 35px;margin: 0px;color:#3498db;margin-left: 110%;">+1</p>
					</div><div style="display: inline-block;margin-left: 27%;">
						<p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
						<p style="border:none;font-size: 12px;margin: 0px;">Points</p>
					</div>
					<p style="border:none;font-size: 13px;margin: 0px;padding-right: 0px; width: 100%;text-align: center;padding-left: 0px;">Creating Answer</p>
				</div>

			<div class="rank1">
					<div style="display: inline-block;">
						<p style="border:none;font-size: 35px;margin: 0px;color:#3498db;margin-left: 70%;">+10</p>
					</div><div style="display: inline-block;margin-left: 25%;">
						<p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
						<p style="border:none;font-size: 12px;margin: 0px;">Points</p>
					</div>
					<p style="border:none;font-size: 13px;margin: 0px;padding-right: 0px; width: 100%;text-align: center;padding-left: 0px;">Answer is accepted</p>
				</div>

			<div class="rank1">
					<div style="display: inline-block;">
						<p style="border:none;font-size: 35px;margin: 0px;color:#3498db;margin-left: 70%;">-10</p>
					</div><div style="display: inline-block;margin-left: 22%;">
						<p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
						<p style="border:none;font-size: 12px;margin: 0px;">Points</p>
					</div>
					<p style="border:none;font-size: 13px;margin: 0px;padding-right: 0px; width: 100%;text-align: center;padding-left: 0px;">Answer is unaccepted</p>
				</div>			
				</div>
			</div>

			<div class="welcome">
				<div class="tab">
					<p class="tablinks" onclick="openCity(event, 'tab1')" id="defaultOpen" style="display:inline-block;">Questions</p>
					<p class="tablinks" onclick="openCity(event, 'tab2')" style="display: inline-block;">Answers</p>
				</div>
			</div>


			{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
			    {% endfor %}
			</div>
			{% endif %}

			<div id="tab1" class="tabcontent">
				{% for obj in object_list %}
			<div class="question">
				<div class="left">
					<h6 style="font-size: 16px;" class="ques"><strong><a href='{% url "detail" id=obj.id %}' style="text-decoration: none;color:#444c63;">{{ obj.question | truncatechars:50 }}</a></strong></h6>
					<h6 style="font-size: 15px; font-weight: normal; color: #6f7d95;" class="des">{{ obj.description | truncatechars:50 }}</h6>
					{% if obj.user.image %}
					<img src='{{ obj.user.image.url }}' id="image"/>
					{% else %}
					<img src='{% static "image/default_user.png" %}' id="image"/>
					{% endif %}
					<h6 style="font-size: 14px; font-weight: normal; color: #6f7d95;" class="des1">{{ obj.user }} &nbsp &nbsp {{ obj.timestamp }}</h6>
				</div>
				<div class="right">
					<div class="circle" style="display: inline-block;"><h6>{{ obj.views }}</h6><p>Views</p></div>
					{% if obj.answered == 0 %}
					<div class="circle" style="display: inline-block;"><h6>{{ obj.answers }}</h6><p>Answers</p></div>
					{% else %}
					<div class="circle" style="display: inline-block;"><h6 style="background-color: #1abc9c;color: white; border:none;">{{ obj.answers }}</h6><p>Answers</p></div>
					{% endif %}
				</div>

			</div>
			{% endfor %}
			<br/><br/>
			<div class="page" style="width: 79%;">
				{% if object_list.has_previous %}
	            <a href="?page={{ object_list.previous_page_number }} & q={{ request.GET.q }}"><i class="fa fa-chevron-left" aria-hidden="true" style="background-color: #1abc9c;color: white; border:none;"></i></a>
	            {% else %}
	            <a><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
	        	{% endif %}
	        	<span class="current">
	            &nbsp Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}. &nbsp
	        	</span>
	        	{% if object_list.has_next %}
	            <a href="?page={{ object_list.next_page_number }} & q={{ request.GET.q }}" ><i class="fa fa-chevron-right " aria-hidden="true" style="background-color: #1abc9c;color: white; border:none;"></i></a>
	            {% else %}
	            <a><i class="fa fa-chevron-right " aria-hidden="true"></i></a>
	        	{% endif %}
	        </div>
			</div>


			<div id="tab2" class="tabcontent">
				{% for obj in object_list1 %}
			<div class="question" style="height: 190px;">
				<div class="left" style="width: 90%;">
					<h6 style="font-size: 16px; border-bottom-style: solid;border-bottom-color: #dadfea;border-bottom-width: 1px;" class="ques"><strong><a href='{% url "detail" id=obj.question.id %}' style="text-decoration: none;color:#444c63;">{{ obj.question.question | truncatechars:50 }}</a></strong></h6>
					<h6 style="font-size: 15px; font-weight: normal; color: #6f7d95;" class="des">{{ obj.answer | truncatechars:50 }}</h6>
					{% if obj.user.image %}
					<img src='{{ obj.user.image.url }}' id="image"/>
					{% else %}
					<img src='{% static "image/default_user.png" %}' id="image"/>
					{% endif %}
					<h6 style="font-size: 14px; font-weight: normal; color: #6f7d95;" class="des1">{{ obj.user }} &nbsp &nbsp {{ obj.timestamp }}</h6>
				</div>
				</div>

			{% endfor %}
			<br/><br/>
			<div class="page" style="width: 79%;">
				{% if object_list1.has_previous %}
	            <a href="?page1={{ object_list1.previous_page_number }} & q={{ request.GET.q }}"><i class="fa fa-chevron-left" aria-hidden="true" style="background-color: #1abc9c;color: white; border:none;"></i></a>
	            {% else %}
	            <a><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
	        	{% endif %}
	        	<span class="current">
	            &nbsp Page {{ object_list1.number }} of {{ object_list1.paginator.num_pages }}. &nbsp
	        	</span>
	        	{% if object_list1.has_next %}
	            <a href="?page1={{ object_list1.next_page_number }} & q={{ request.GET.q }}" ><i class="fa fa-chevron-right " aria-hidden="true" style="background-color: #1abc9c;color: white; border:none;"></i></a>
	            {% else %}
	            <a><i class="fa fa-chevron-right " aria-hidden="true"></i></a>
	        	{% endif %}
	        </div>

			</div>
			</td>
			<td class="stats" style="padding-top: 30px;vertical-align: top;">
				<div class="bor" style="border-left-color: #3498db">
					<p class="stat_q">Questions</p>
					<p class="stat_a">{{ q }}</p>
				</div>
				<div class="bor" style="border-left-color: #f39c12;">
					<p class="stat_q">Answers</p>
					<p class="stat_a">{{ a }}</p>
				</div>
				<div class="bor" style="border-left-color: red;">
					<p class="stat_q">Users</p>
					<p class="stat_a">{{ u }}</p>
				</div>
				<div class="bor" style="border:none; padding-top: 40px;">
					<p>Top users</p>
					{% for obj in top %}
					<p class="stat_q"><a  href="{% url "profile" id=obj.id %}" style="color: #6f7daf;text-decoration: none;">{{ obj.user }} ({{obj.points}})</a></p>
					{% endfor %}
				</div>
			</td>
		</tr>
		</table>
		</div>
	</div>

	<script>
		function openCity(evt, cityName) {
		    var i, tabcontent, tablinks;
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    document.getElementById(cityName).style.display = "block";
		    evt.currentTarget.className += " active";
		}

		document.getElementById("defaultOpen").click();
	</script>
</body>
</html>